body {
    background-image: 
        linear-gradient(
            to bottom,
          rgba(207, 207, 177, 0.5),
          rgba(155, 155, 163, 0.5)
        ),
        url("../BK_MASTERS_3-848x477.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h2 {
    justify-content: center;
    text-align: center;
}